@page{
    width: 100%;
    height: auto;
}
#body{
    padding: 50px;
    margin: 20px;
    width: 50%;
    height: auto;
    align-content: center;
}

#form-control{
    text-transform: uppercase;
    width: 20%;
}